.App {
  text-align:center;
}


  .App-logo {
    height: 40vmin;
    position: absolute;
    top: -60px;
    left: 140px;
  }

.App-header {
  background-color: #e4aca2;
  min-height: 98.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.join_button{
  background-color: rgb(15, 32, 65);
  text-decoration: wavy;
  color: #e3ebf5;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 20px;
  z-index: 1000;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 400px;
  left: 200px;

}

.App-link {
  color: #61dafb;
}

.footer-style{
  background-color: #e4aca2;
  font-size: large;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(15, 32, 65);
}
